<div class="login-form-container">
   <video src="https://res.cloudinary.com/dertdncse/video/upload/v1617791056/ironflix/Avengers_edited_gk0wto.mp4"
      autoplay loop playsinline muted></video>
   <div class="login-form">
      <form action="/auth/login" method="POST">
         <label> Username</label>
         <input type="text" name="username" placeholder="Username" required>

         <label> Password</label>
         <input type="password" name="password" placeholder="Password" min="8">

         <button class="login-submit-btn" type="submit">Log in</button>
      </form>
   </div>
</div>