<div class="signup-form-container">
   <video src="https://res.cloudinary.com/dertdncse/video/upload/v1617786934/ironflix/LOTR2-edited_qdq6ng.mp4" autoplay
      loop playsinline muted></video>
   {{!-- <img class="signup-background-img" src="/images/signUp-background.jpeg" alt="signUp-bg"> --}}

   <div class="signup-form">
      <form action="/auth/signup" method="POST">
         <label> Username:<br>
            <input type="text" name="username" placeholder="Username" required>
         </label>
         <br>
         <label> Password:<br>
            <input type="password" name="password" placeholder="Password" min="8">
         </label>
         <br>
         <label> Email:<br>
            <input type="email" name="email" placeholder="Email" required>
         </label>
         <br>
         <button class="signup-submit-btn" type="submit">Sign up</button>
         {{!-- <a href="/auth/signup">Sign Up</a> --}}
      </form>
   </div>

</div>


{{#if errorMessage}}
<h1 style="color: red;">{{errorMessage}}</h1>
{{/if}}