{{#with user}}

<div class="background-image">

  <div class="profile-edit-container">

    <h3>Welcome to your edit page</h3>

    <div class="profile-edit-form">

      <form method="POST" action="/profile/edit">

        <label>Username</label>
        <input type="text" name="username" value="{{username}}">

        <label>Bio</label>
        <input type="text" name="bio" value="{{bio}}">

        <label>Email</label>
        <input type="email" name="email" value={{email}}>

        <button type="submit">Edit your profile</button>
      </form>

    </div>

    <div class="profile-edit-buttons">
      <a href="/profile">Go back to your profile</a>
      <a href="/editProfilePic">Change your profile pic</a>
      <a href="/movies">Go to movies</a>
    </div>

  </div>

</div>

{{/with}}

{{#if errorMessage}}
<h1 style="color: red;">{{errorMessage}}</h1>
{{/if}}