{{#with user}}

<div class="background-image">

  <div class="profile-container">

    <img class="profileImage" src="{{profilePic}}">
    <h3 class="profile-heading">Welcome {{username}}</h3>

    {{#if shortBio}}

    <p>
      {{shortBio}}
    </p>

    {{/if}}

    <div class="profile-buttons">

      <a href="/profile/edit">Edit your profile</a>
      <a href="/">All Movies</a>


      {{#if prefersDarkMode}}
      <a href="/profile/dark-mode">Come to Light Side</a>
      {{else}}
      <a href="/profile/dark-mode">Come to Dark Side</a>
      {{/if}}

    </div>

  </div>

</div>

{{/with}}